/**********/
/* RESET */
/********/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--clr-primary: #2b283a;
	--clr-dark: #f55a5a;
	--clr-light: #918e9b;
}

html {
	color: var(--clr-primary);
	font-size: 62.5%;
	font-weight: 400;
}
body {
	font-family: 'Inter', 'sans-serif';
	line-height: 1.5;
}

/********************************/
/* GENERAL REUSABLE COMPONENTS */
/******************************/

.container {
	max-width: 120rem;
	padding-inline: 4rem;
	margin: 0 auto;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
/***********/
/* NAVBAR */
/*********/

.nav {
	background-color: var(--clr-dark);
	color: #fff;
	gap: 7px;
	padding-block: 2rem;
	margin-bottom: 4.5rem;
}
.nav__desc {
	font-size: 1.4rem;
	font-weight: 500;
	letter-spacing: -0.075em;
}

.nav__icon {
	width: 24px;
	height: 24px;
}

/*********/
/* Main */
/*******/
.card {
	display: flex;
}
.card__icon {
	color: var(--clr-dark);
}
